@{
    ViewBag.Title = "About Us";
}
<style>
    #ulAboutUs li{
        padding-top:10px;
    }
</style>
<div class="divPageHeader">@ViewBag.Title : </div><br />

<p>
    The main aim of this website is to provide some basic information about NewYork city and it's surroundings. Below are the list of feauters in this site.
    <ul id="ulAboutUs">
        <li>
            Basic gallery of NewYork city with a set of pictures
        </li>
        <li>
           The list of Engineering and Medical colleges and some basic info about same with in NewYork City and surroundings.
        </li>
        <li>
            We are providing a page to search for address of any particular place with in NewYork city like Bustands, Railway stations, Shops, Restaurants, Hospitals etc. In addition any body can add their business address here so that it will be a kind of marketting their business.
        </li>
        <li>
            From "Contact Us" page you can share your valuable comments or suggestions to improve our service.
        </li> 

    </ul>
    
</p>