@{
    ViewBag.Title = "Contact Us";
}
<div class="divPageHeader">@ViewBag.Title : </div><br />

<h4>Please write us for any suggestions or feedback. </h4>
<div class="row">
    <div class="row container">
        <div class="col-md-2">
            <img alt="Image" style="height:90%;width:100%" src="~/Content/Images/Lead.jpg" />
        </div>
        <div class="col-md-4">
            Name: Sankhya Chama <br />
            Email: Coordinatormail@gmail.com <br />
            Phone: +1-9840999999 <br />
            Role: Developer
        </div>
        <div class="col-md-2">
            <img alt="Image" style="height:90%;width:100%" src="~/Content/Images/Lead.jpg" />
        </div>
        <div class="col-md-4">
            Name: Test A <br />
            Email: TestTemp@gmail.com <br />
            Phone: +1-9840977777 <br />
            Role: Developer 
        </div>
    </div><br /><br />
    <div class="row container">
        <div class="col-md-2">
            <img alt="Image" style="height:90%;width:100%" src="~/Content/Images/member1.jpg" />
        </div>
        <div class="col-md-4">
            Name: Test B <br />
            Email: Testmail@gmail.com <br />
            Phone: +1-9840911111 <br />
            Role: Team Lead
        </div>
        <div class="col-md-2">
            <img alt="Image" style="height:90%;width:100%" src="~/Content/Images/member2.jpg" />
        </div>
        <div class="col-md-4">
            Name: Test C<br />
            Email: Testcdsamail@gmail.com <br />
            Phone: +1-9840922222 <br />
            Role: Team Member
        </div>
    </div><br /><br />
    <div class="row container">
        <div class="col-md-2">
            <img alt="Image" style="height:90%;width:100%" src="~/Content/Images/member1.jpg" />
        </div>
        <div class="col-md-4">
            Name: Test D <br />
            Email: Tcbfsimail@gmail.com <br />
            Phone: +1-9840933333 <br />
            Role: Team Member
        </div>
        <div class="col-md-2">
            <img alt="Image" style="height:90%;width:100%" src="~/Content/Images/member2.jpg" />
        </div>
        <div class="col-md-4">
            Name: Test E <br />
            Email: Testcdsamail@gmail.com <br />
            Phone: +1-9840944444 <br />
            Role: Team Member
        </div>
    </div>
</div>