@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-8">
            <h3>New York City & Surroundings</h3>
            <p>
                New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
                <br /><br />
                <b>Note:</b> This is site is only about New York city and it's surroundings but not about whole New York.
            </p>
        </div>
        <div class="col-md-4">
            <img alt="Temple" src="~/Content/Images/NewYork1.jpg" style="height:250px;width:100%;" />
        </div><br />
        <div class="col-md-4">
            <img alt="GIST" src="~/Content/Images/NewYork2.jpg" style="height:200px;width:100%;" />
        </div>
        <div class="col-md-8">
            <p>
                <br />New York City, city and port located at the mouth of the Hudson River, southeastern New York state, northeastern U.S. It is the largest and most influential American metropolis, encompassing Manhattan and Staten islands, the western sections of Long Island, and a small portion of the New York state mainland to the north of Manhattan. New York City is in reality a collection of many neighbourhoods scattered among the city’s five boroughs
                <br /><br />
                For more details about New York district <a target="_blank" href="https://www.nyc.gov/"><strong>click here</strong></a>
            </p>
        </div>
    </div>
</div>